@import url("./reset.scss");
@import url("./fonts.scss");

:root {
  --container-width: 1200px;
  --container-padding: 2rem;
}

body {
  font-family: "Space Grotesk";
}

img {
  max-width: 500px;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
}

.container>* {
  margin: auto;
  padding: var(--container-padding);
}

.container>*:not(:last-child) {
  margin-bottom: 4rem;
  max-width: var(--container-width);
}

.about {
  display: flex;
  gap: 0;

  &__image-block {
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 450px;
    height: 500px;
  }

  &__image {
    min-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    color: white;
    font-size: 3rem;
    text-shadow: 0px 0px 5px black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

  }

  &__block {
    margin: 2rem 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    line-height: 1.2;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__icons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

}

.work {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
}

.grid-item {
  border: 1px solid red;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

  &__image {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover
  }

  &__name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  &__content {
    padding: 0.5rem 0.25rem;
    font-size: 0.825rem;
    line-height: 1.2;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  background-color: black;
  color: white;

  &__wrapper {
    max-width: var(--container-width);
    margin: auto;

    display: flex;
    gap: 2rem;
  }

  &__paragraph:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__image-container {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__email {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }


  &__email-icon {
    width: 32px;
    height: 32px;
  }

  &__email-link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__image {
    object-fit: contain;
    min-width: 100%;
    box-shadow: 0px 0px 5px 2px white;
  }
}
